@page "/manageTodo"
@using TodoClient.Data;
@using MinApi.Services;

@inject TodoDataService todoDataService

<PageTitle>Todo</PageTitle>

<h1>A demo of minimal REST API w/ Blazor client</h1>

<EditForm Model=@NewTodo>
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="TodoTitle" class="col-form-label">Title</label>        
        <InputText id="TodoTitle" @bind-Value="@NewTodo.Title"></InputText>
        <ValidationMessage For="@(() => NewTodo.Title)" />
        <button class="btn btn-primary" type="submit"
            @onclick="AddTodo">Add</button>
    </div>
</EditForm>


@code {
    string TodoTitle { get; set; }
    [Parameter] public TodoItem NewTodo { get; set; } = new TodoItem();

    private void AddTodo() {
        todoDataService.Post(TodoTitle);
        NewTodo = new TodoItem();
    }
}
