@page "/manageTodo"

<PageTitle>Todo</PageTitle>

<h1>A demo of minimal REST API w/ Blazor client</h1>
<div class="form-group">
    <label for="TodoTitle" class="col-form-label">Title</label>
    <input id="TodoTitle" @bind="TodoTitle"></input>
    <button class="btn btn-primary" 
        @onclick="AddTodo">Add New Todo</button>
</div>
@code {
    string TodoTitle { get; set; }
    RestSharp.RestClient todoRestClient;

    private void AddTodo()
    {
        todoRestClient = new RestSharp.RestClient("http://localhost/todoitems");
        var request = new RestSharp.RestRequest(RestSharp.Method.POST);
        request.AddJsonBody(new Dictionary<string, string>() { { "Title", TodoTitle } });
        todoRestClient.Execute(request);
    }
}
