@page "/manageTodo"
@using TodoClient.Data;
@using MinApi.Services;

@inject TodoDataService todoDataService

<PageTitle>Todo</PageTitle>

<h1>A demo of minimal REST API w/ Blazor client</h1>

<EditForm Model=@NewTodo>
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="TodoTitle" class="col-form-label">Title</label>        
        <InputText id="TodoTitle" @bind-Value="@NewTodo.Title"></InputText>
        <ValidationMessage For="@(() => NewTodo.Title)" />
        <button class="btn btn-primary" type="submit"
            @onclick="AddTodo">Add</button>
    </div>
</EditForm>

@if (OutStandingTodos != null)
{
    <div class="table-responsive">
        <table class="table table-hover">
            @foreach (var todo in OutStandingTodos)
            {
                <tr>
                    <td>@todo.Title</td>             
                    <td>@todo.IsCompleted</td>
                </tr>
            }
        </table>
    </div>
}
@code {
    [Parameter] public TodoItem NewTodo { get; set; } = new TodoItem();
    IList<TodoItem> OutStandingTodos { get; set; } 
        
    private void AddTodo() {
        todoDataService.Post(NewTodo.Title);
        NewTodo = new TodoItem();
        OutStandingTodos = todoDataService.GetAll();
    }
}
